<div class="col-lg-12">
    <nb-card>
        <nb-card-header>
            ADMINISTRACIÓN INVENTARIO-PRODUCTO
            <button type="button" class="btn btn-success" (click)="agregar()">
                <i class="fas fa-plus"></i>
            </button>
        </nb-card-header>
        <table class="table">
            <tr>
                <th *ngFor="let columaActual of nombresColumnas">{{columaActual}}</th>
            </tr>
             <ng-container *ngFor="let inventarioproductoActual of inventarioproducto">
                <tr>
                    <td>{{inventarioproductoActual.producto.marca}}</td>
                    <td>{{inventarioproductoActual.producto.precio}}</td>
                    <td>{{inventarioproductoActual.producto.referencia}}</td>
                    <td>{{inventarioproductoActual.producto.talla}}</td>
                    <td>
                        
                        <button type="button" class="btn btn-danger" 
                                (click)="eliminar(inventarioproductoActual._id)">
                            <i class="fas fa-solid fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </ng-container> 
        </table>
    </nb-card>
</div>
