<div class="col-lg-12">
    <nb-card>
         <!-- Se muestra el encabezado si se está en modo creación -->
        <nb-card-header *ngIf="modoCreacion">
            CREAR INVENTARIO
        </nb-card-header>
        <!-- Se muestra el encabezado si se está en modo edición -->
        <nb-card-header *ngIf="!modoCreacion">
            ACTUALIZAR INVENTARIO
        </nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-3">
                    <label>Nombre inventario</label>
                </div>
                <div class="col-9">
                    <!-- Se deshabilita si no está en modo creación -->
                    <input class="form-control" type="text" 
                           
                           [(ngModel)]="elInventario.nombre_inventario"> <!-- Vinculación bidireccional del valor del campo con la propiedad "cedula" del objeto "elEstudiante" -->
                    <!-- Muestra un mensaje de error si se ha intentado enviar el formulario y el campo "Cedula" está vacío -->       
                    <p *ngIf="intentoEnvio && elInventario.nombre_inventario=='' ">Requerido</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-3">
                    <!--<label>id_almacenista</label>-->
                    <label>Id Almacenista</label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="text" 
                           [(ngModel)]="elInventario.almacenista"><!-- Vinculación bidireccional del valor del campo con la propiedad "nombre" del objeto "elEstudiante" -->
                    <!-- Muestra un mensaje de error si se ha intentado enviar el formulario y el campo "Nombre" está vacío -->       
                    <p *ngIf="intentoEnvio && elInventario.almacenista=='' ">Requerido</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-3">
                    <!--<label>id_almacenista</label>-->
                    <label>Mes</label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="text" 
                           [(ngModel)]="elInventario.mes"><!-- Vinculación bidireccional del valor del campo con la propiedad "nombre" del objeto "elEstudiante" -->
                    <!-- Muestra un mensaje de error si se ha intentado enviar el formulario y el campo "Nombre" está vacío -->       
                    <p *ngIf="intentoEnvio && elInventario.mes=='' ">Requerido</p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-3">
                    <!--<label>id_almacenista</label>-->
                    <label>Año</label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="text" 
                           [(ngModel)]="elInventario.ano"><!-- Vinculación bidireccional del valor del campo con la propiedad "nombre" del objeto "elEstudiante" -->
                    <!-- Muestra un mensaje de error si se ha intentado enviar el formulario y el campo "Nombre" está vacío -->       
                    <p *ngIf="intentoEnvio && elInventario.ano=='' ">Requerido</p>
                </div>
            </div>
           <!-- <br>
            <div class="row">
                <div class="col-3">
                    <label>id_producto</label>
                    <label></label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="text" 
                           [(ngModel)]="elInventario.cantidad">
                    <p *ngIf="intentoEnvio && elInventario.cantidad=='' ">Requerido</p>
                </div>
            </div>-->
            <br>
            <div class="row">
                    <!-- Botón "Crear" visible si se está en modo creación -->
                    <button  *ngIf="modoCreacion" 
                              class="btn btn-primary btn-block"  (click)="agregar()">
                        Crear
                    </button>
                    <!-- Botón "Actualizar" visible si se está en modo edición -->
                    <button *ngIf="!modoCreacion" 
                            class="btn btn-primary btn-block"  (click)="editar()">
                        Actualizar
                    </button>
            </div>
        </nb-card-body>
    </nb-card>
</div>